@-moz-document url-prefix("chrome:") {
    @media not (-moz-pref("zz-containers-tweaks-disabled")) {
    
    /* ======== containers ======= */
    tab {
      .tab-background {
        flex-direction: unset !important;
      }
      
      /* Apply container color to tab text */
      .tab-label {
        color: var(--identity-tab-color) !important;
        transition: all 0.3s ease-in-out !important;
      }
      
      /* Hover effect for tab text */
      &:hover .tab-label {
        filter: brightness(1.2) !important;
        text-shadow: 0 0 1px var(--identity-tab-color) !important;
      }
    }
    
    /* Hide the original container indicators */
    tab .tab-background .tab-context-line {
      display: none !important;
    }
    
    [uidensity="compact"] tab .tab-background .tab-context-line {
      display: none !important;
    }
    
    tab[zen-essential="true"] .tab-background .tab-context-line {
      display: none !important;
    }
    
    tab[discarded=""]:hover,
    tab[pending="true"]:hover {
      filter: grayscale(0) !important;
    }
  }
}