
@-moz-document url-prefix("chrome:") {
  @media not (-moz-pref("zen-feature-tab-glow-disabled")) {
  
    @-moz-document url-prefix("chrome://browser/content/browser.xhtml") {
      /* Smoothly fade out when you stop hovering */
      .tabbrowser-tab .tab-icon-image {
        transition: filter 0.3s ease-in-out !important;
      }
    
      /* Dark mode: white thick outline */
      @media (prefers-color-scheme: dark) {
    /* .tabbrowser-tab:hover .tab-icon-image:not([zen-essential="true"]), */
        .tabbrowser-tab[pinned]:hover .tab-icon-image:not([zen-essential="true"]),
        .tabbrowser-tab[zen-essential="true"]:hover .tab-icon-image {
          filter: drop-shadow(0 0 1px #da8d5e) drop-shadow(0 0 1px #da8d5e) !important;
          animation: none !important;
        }
      }
    
      /* Light mode: black thick outline */
      @media (prefers-color-scheme: light) {
      /*  .tabbrowser-tab:hover .tab-icon-image:not([zen-essential="true"]), */
        .tabbrowser-tab[pinned]:hover .tab-icon-image:not([zen-essential="true"]),
        .tabbrowser-tab[zen-essential="true"]:hover .tab-icon-image {
          filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000) !important;
          animation: none !important;
        }
      }
    }
  }
}